<!-- <div class="outer">
  <section class="home">
    <div class="container">
      <div class="step-two_btns">
        <button class="close-btn">x</button>

        <span class="back-part" (click)="navigateToHome()">
          العودة
          <img class="backImg" src="back.svg" alt="Back" />
        </span>
      </div>

      <div class="step-two_header">
        <img class="step-two-star1" src="step-two-star.svg" alt="" />

        <h2 class="home_left-h2">أختر المكان المفضل لسكنك</h2>
        <p class="home_left-p">
          قم بأختيار مصدر شقك الأسكانية كل تستكمل باقي الخطوات
        </p>
        <img class="step-two-star2" src="step-two-star2.svg" alt="" />
      </div>

      <div class="step-two-cards">
        <div
          class="step-two-card mx-2"
          [ngClass]="{ active: selectedBox === 1 }"
          (click)="selectBox(1)"
        >
          <img
            [src]="selectedBox === 1 ? 'true-box.svg' : 'circle-empty.svg'"
            alt=""
          />
          <div class="step-two-card_center">
            <img src="home.svg" alt="" />
          </div>
          <h5 class="step-two-card_h5">القاهرة</h5>
        </div>
        <div
          class="step-two-card mx-2"
          [ngClass]="{ active: selectedBox === 2 }"
          (click)="selectBox(2)"
        >
          <img
            [src]="selectedBox === 2 ? 'true-box.svg' : 'circle-empty.svg'"
            alt=""
          />
          <div class="step-two-card_center">
            <img src="car.svg" alt="" />
          </div>
          <h5 class="step-two-card_h5">الساحل الشمالي</h5>
        </div>
        <div
          class="step-two-card mx-2"
          [ngClass]="{ active: selectedBox === 3 }"
          (click)="selectBox(3)"
        >
          <img
            [src]="selectedBox === 3 ? 'true-box.svg' : 'circle-empty.svg'"
            alt=""
          />
          <div class="step-two-card_center">
            <img src="person.svg" alt="" />
          </div>
          <h5 class="step-two-card_h5">دهب</h5>
        </div>
      </div>

      <div class="text-center">
        <button
          class="step-two-btn"
          [ngClass]="{ active: isBoxSelected() }"
          [disabled]="!isBoxSelected()"
          (click)="navigateToStepThree()"
        >
          أبدأ الأن <img src="right.svg" />
        </button>
      </div>

      <p class="step-two_p1">نحن هنا لمساعدتك في أختيار منزلك بسهولة وعناية</p>
      <p class="step-two_p1">
        قم بالضغط على زر "بدء" للبدء في العملية، واتبع التوجيهات لإدخال معلومات
        الحملة
      </p>
    </div>
  </section>
</div> -->

<!-- <div class="outer"> -->
<!-- <section class="home"> -->
<!-- <div class="container"> -->
<!-- <div class="step-two_btns">
        <button class="close-btn">x</button>

        <span class="back-part" (click)="navigateToHome()">
          العودة
          <img class="backImg" src="back.svg" alt="Back" />
        </span>
      </div> -->

<div class="step-two_header">
  <img class="step-two-star1" src="step-two-star.svg" alt="" />

  <h2 class="home_left-h2">أختر المكان المفضل لسكنك</h2>
  <p class="home_left-p">
    قم بأختيار مصدر شقك الأسكانية كل تستكمل باقي الخطوات
  </p>
  <img class="step-two-star2" src="step-two-star2.svg" alt="" />
</div>

<div class="step-two-cards">
  <div
    class="step-two-card mx-2"
    [ngClass]="{ active: selectedBox === 1 }"
    (click)="selectBox(1)"
  >
    <img
      [src]="selectedBox === 1 ? 'true-box.svg' : 'circle-empty.svg'"
      alt=""
    />
    <div class="step-two-card_center">
      <img src="home.svg" alt="" />
    </div>
    <h5 class="step-two-card_h5">القاهرة</h5>
  </div>
  <div
    class="step-two-card mx-2"
    [ngClass]="{ active: selectedBox === 2 }"
    (click)="selectBox(2)"
  >
    <img
      [src]="selectedBox === 2 ? 'true-box.svg' : 'circle-empty.svg'"
      alt=""
    />
    <div class="step-two-card_center">
      <img src="car.svg" alt="" />
    </div>
    <h5 class="step-two-card_h5">الساحل الشمالي</h5>
  </div>
  <div
    class="step-two-card mx-2"
    [ngClass]="{ active: selectedBox === 3 }"
    (click)="selectBox(3)"
  >
    <img
      [src]="selectedBox === 3 ? 'true-box.svg' : 'circle-empty.svg'"
      alt=""
    />
    <div class="step-two-card_center">
      <img src="person.svg" alt="" />
    </div>
    <h5 class="step-two-card_h5">دهب</h5>
  </div>
</div>

<div class="text-center">
  <button
    class="step-two-btn"
    [ngClass]="{ active: isBoxSelected() }"
    [disabled]="!isBoxSelected()"
    (click)="navigateToStepThree()"
  >
    أبدأ الأن <img src="right.svg" />
  </button>
</div>

<p class="step-two_p1">نحن هنا لمساعدتك في أختيار منزلك بسهولة وعناية</p>
<p class="step-two_p1">
  قم بالضغط على زر "بدء" للبدء في العملية، واتبع التوجيهات لإدخال معلومات الحملة
</p>
<!-- </div> -->
<!-- </section> -->
<!-- </div> -->
