<!-- <app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three></app-step-three>
<app-step-four></app-step-four>
<app-step-five></app-step-five> -->

<!--
<app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two (locationSelected)="handleLocationSelected($event)"></app-step-two>
<app-step-three></app-step-three>
<app-step-four></app-step-four>
<app-step-five></app-step-five> -->
<!--
<app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four (additionalData)="handleAdditionalData($event)"></app-step-four>
<app-step-five></app-step-five> -->
<!--
<app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four (additionalData)="handleAdditionalData($event)"></app-step-four>
<app-step-five (additionalData)="handleAdditionalData($event)"></app-step-five>
<app-step-six></app-step-six>
<app-last-step></app-last-step> -->
<!--
<app-home *ngIf="showHome" (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two
  *ngIf="showStepTwo"
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  *ngIf="showStepThree"
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four
  *ngIf="showStepFour"
  (additionalData)="handleAdditionalData($event)"
></app-step-four>
<app-step-five
  *ngIf="showStepFive"
  (additionalDataPlus)="handleAdditionalDataPlus($event)"
></app-step-five>
<app-step-six *ngIf="showStepSix"></app-step-six>
<app-last-step *ngIf="showLastStep"></app-last-step> -->
<!--
<app-home
  *ngIf="currentStep === 1"
  (emitHouseData)="handleHouseData($event)"
></app-home>
<app-step-two
  *ngIf="currentStep === 2"
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  *ngIf="currentStep === 3"
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four
  *ngIf="currentStep === 4"
  (additionalData)="handleAdditionalData($event)"
></app-step-four>
<app-step-five
  *ngIf="currentStep === 5"
  (additionalDataPlus)="handleAdditionalDataPlus($event)"
></app-step-five>
<app-step-six *ngIf="currentStep === 6"></app-step-six>
<app-last-step *ngIf="currentStep === 7"></app-last-step> -->
<!--
<app-home
  *ngIf="currentStep === 1"
  (emitHouseData)="handleHouseData($event)"
></app-home>
<app-step-two
  *ngIf="currentStep === 2"
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  *ngIf="currentStep === 3"
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four
  *ngIf="currentStep === 4"
  (additionalData)="handleAdditionalData($event)"
></app-step-four>
<app-step-five
  *ngIf="currentStep === 5"
  (additionalDataPlus)="handleAdditionalDataPlus($event)"
></app-step-five>
<app-step-six
  *ngIf="currentStep === 6"
  (complete)="completeProcess()"
></app-step-six>
<app-last-step *ngIf="currentStep === 7"></app-last-step> -->
<!--
<app-home
  *ngIf="currentStep === 1"
  (emitHouseData)="handleHouseData($event)"
></app-home>
<app-step-two
  *ngIf="currentStep === 2"
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  *ngIf="currentStep === 3"
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four
  *ngIf="currentStep === 4"
  (additionalData)="handleAdditionalData($event)"
></app-step-four>
<app-step-five
  *ngIf="currentStep === 5"
  (additionalDataPlus)="handleAdditionalDataPlus($event)"
></app-step-five>
<app-step-six
  *ngIf="currentStep === 6"
  (progressComplete)="onProgressComplete()"
></app-step-six>
<app-last-step *ngIf="currentStep === 7"></app-last-step> -->
<!--
<app-home
  *ngIf="currentStep === 1"
  (emitHouseData)="handleHouseData($event)"
></app-home>
<app-step-two
  *ngIf="currentStep === 2"
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  *ngIf="currentStep === 3"
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four
  *ngIf="currentStep === 4"
  (additionalData)="handleAdditionalData($event)"
></app-step-four>
<app-step-five
  *ngIf="currentStep === 5"
  (additionalDataPlus)="handleAdditionalDataPlus($event)"
></app-step-five>
<app-step-six
  *ngIf="currentStep === 6"
  (progressComplete)="handleProgressComplete()"
></app-step-six>
<app-last-step *ngIf="currentStep === 7"></app-last-step> -->
<!--
<div [ngClass]="{ 'active-step': currentStep === 1 }">
  <app-home
    *ngIf="currentStep === 1"
    (emitHouseData)="handleHouseData($event)"
  ></app-home>
</div>

<div [ngClass]="{ 'active-step': currentStep === 2 }">
  <app-step-two
    *ngIf="currentStep === 2"
    (locationSelected)="handleLocationSelected($event)"
  ></app-step-two>
</div>

<div [ngClass]="{ 'active-step': currentStep === 3 }">
  <app-step-three
    *ngIf="currentStep === 3"
    (houseTypeSelected)="handleHouseTypeSelected($event)"
  ></app-step-three>
</div>

<div [ngClass]="{ 'active-step': currentStep === 4 }">
  <app-step-four
    *ngIf="currentStep === 4"
    (additionalData)="handleAdditionalData($event)"
  ></app-step-four>
</div>

<div [ngClass]="{ 'active-step': currentStep === 5 }">
  <app-step-five
    *ngIf="currentStep === 5"
    (additionalDataPlus)="handleAdditionalDataPlus($event)"
  ></app-step-five>
</div>

<div [ngClass]="{ 'active-step': currentStep === 6 }">
  <app-step-six
    *ngIf="currentStep === 6"
    (progressComplete)="handleProgressComplete()"
  ></app-step-six>
</div>

<div [ngClass]="{ 'active-step': currentStep === 7 }">
  <app-last-step *ngIf="currentStep === 7"></app-last-step>
</div>

<nav>
  <button (click)="goBack()" [disabled]="currentStep === 1">Back</button>
  <button (click)="goForward()" [disabled]="currentStep === 7">Next</button>
</nav> -->

<app-home
  *ngIf="currentStep === 1"
  (emitHouseData)="handleHouseData($event)"
></app-home>
<div *ngIf="currentStep !== 1" class="outer">
  <section class="home">
    <div class="container">
      <div class="step-two_btns">
        <button class="close-btn">x</button>

        <span class="back-part" (click)="navigateBack()">
          العودة
          <img class="backImg" src="back.svg" alt="Back" />
        </span>
      </div>

      <app-step-two
        *ngIf="currentStep === 2"
        (locationSelected)="handleLocationSelected($event)"
        (back)="navigateBack()"
      ></app-step-two>

      <app-step-three
        *ngIf="currentStep === 3"
        (houseTypeSelected)="handleHouseTypeSelected($event)"
      ></app-step-three>

      <app-step-four
        *ngIf="currentStep === 4"
        (additionalData)="handleAdditionalData($event)"
      ></app-step-four>

      <app-step-five
        *ngIf="currentStep === 5"
        (additionalDataPlus)="handleAdditionalDataPlus($event)"
      ></app-step-five>

      <app-step-six
        *ngIf="currentStep === 6"
        (progressComplete)="handleProgressComplete()"
      ></app-step-six>
      <app-last-step *ngIf="currentStep === 7"></app-last-step>
    </div>
  </section>
</div>
