<!-- <app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three></app-step-three>
<app-step-four></app-step-four>
<app-step-five></app-step-five> -->

<!--
<app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two (locationSelected)="handleLocationSelected($event)"></app-step-two>
<app-step-three></app-step-three>
<app-step-four></app-step-four>
<app-step-five></app-step-five> -->
<!--
<app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four (additionalData)="handleAdditionalData($event)"></app-step-four>
<app-step-five></app-step-five> -->

<app-home (emitHouseData)="handleHouseData($event)"></app-home>
<app-step-two
  (locationSelected)="handleLocationSelected($event)"
></app-step-two>
<app-step-three
  (houseTypeSelected)="handleHouseTypeSelected($event)"
></app-step-three>
<app-step-four (additionalData)="handleAdditionalData($event)"></app-step-four>
<app-step-five (additionalData)="handleAdditionalData($event)"></app-step-five>
<app-step-six></app-step-six>
<app-last-step></app-last-step>
