<app-home
  *ngIf="currentStep === 1"
  (emitHouseData)="handleHouseData($event)"
></app-home>
<div *ngIf="currentStep !== 1" class="outer">
  <section class="home">
    <div class="container">
      <div class="step-two_btns">
        <button class="close-btn">x</button>

        <span class="back-part" (click)="navigateBack()">
          العودة
          <img class="backImg" src="back.svg" alt="Back" />
        </span>
      </div>

      <app-step-two
        *ngIf="currentStep === 2"
        (locationSelected)="handleLocationSelected($event)"
        (back)="navigateBack()"
      ></app-step-two>

      <app-step-three
        *ngIf="currentStep === 3"
        (houseTypeSelected)="handleHouseTypeSelected($event)"
      ></app-step-three>

      <app-step-four
        *ngIf="currentStep === 4"
        (additionalData)="handleAdditionalData($event)"
      ></app-step-four>

      <app-step-five
        *ngIf="currentStep === 5"
        (additionalDataPlus)="handleAdditionalDataPlus($event)"
      ></app-step-five>

      <app-step-six
        *ngIf="currentStep === 6"
        (progressComplete)="handleProgressComplete()"
      ></app-step-six>
      <app-last-step *ngIf="currentStep === 7"></app-last-step>
    </div>
  </section>
</div>
