<!-- <div class="outer">
  <section class="home">
    <div class="container">
      <div class="step-two_btns">
        <button class="close-btn">x</button>

        <span class="back-part" (click)="navigateToHome()">
          العودة
          <img class="backImg" src="back.svg" alt="Back" />
        </span>
      </div>

      <div class="inputs-section">
        <div class="d-flex justify-content-between">
          <div class="envelop-img">
            <img style="max-width: 100%" src="envelop.svg" alt="" />
          </div>
          <div class="inputs-section_header">
            <h2 class="home_left-h2">قم بكتابة نص الرسالة المرسلة</h2>

            <p class="inputs-section_p">
              قم بتسمية حملتك و تاريخ إرسال الحملة المتوقع
            </p>
          </div>
        </div>

        <div class="textarea_section">
          <div class="first-grey-section mb-2">
            <h5 class="grey-section_h5">
              تصميم المنزل<img class="mx-1" src="calender.svg" alt="" />
              <div class="radio-section_p">
                <label class="radio-section_label" for="modern"
                  >تصميم حديث</label
                >
                <input
                  class="radio-btn"
                  type="radio"
                  name="design"
                  id="modern"
                />
                <label class="radio-section_label" for="smart"
                  >تصميم حديث وذكي</label
                >
                <input type="radio" name="design" id="smart" />
              </div>
            </h5>
          </div>

          <div class="icon-toolbar">
            <h5 class="grey-section_h5">
              معاينة وصف المنزل<img class="mx-1" src="eye.svg" alt="" />
            </h5>
            <p class="flatDesc-section_p">
              <span class="flatDesc-section_span">الموضوع:</span>
              فيلا قريبة من التجمع الخامس
            </p>
          </div>
          <textarea class="flat-Textarea" name="flat_desc" id=""> </textarea>
        </div>
      </div>

      <div class="text-center" (click)="navigateToStepSix()">
        <button class="step-two-btn">الخطوة التالية</button>
      </div>

      <p class="step-two_p1">
        قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل
      </p>
    </div>
  </section>
</div>



 -->

<!-- <div class="outer"> -->
<!-- <section class="home"> -->
<!-- <div class="container"> -->
<!-- <div class="step-two_btns">
        <button class="close-btn">x</button>

        <span class="back-part" (click)="navigateToHome()">
          العودة
          <img class="backImg" src="back.svg" alt="Back" />
        </span>
      </div> -->

<div class="inputs-section">
  <div class="d-flex justify-content-between">
    <div class="envelop-img">
      <img style="max-width: 100%" src="envelop.svg" alt="" />
    </div>
    <div class="inputs-section_header">
      <h2 class="home_left-h2">قم بكتابة نص الرسالة المرسلة</h2>
      <p class="inputs-section_p">
        قم بتسمية حملتك و تاريخ إرسال الحملة المتوقع
      </p>
    </div>
  </div>

  <div class="textarea_section">
    <div class="first-grey-section mb-2">
      <h5 class="grey-section_h5">
        تصميم المنزل<img class="mx-1" src="calender.svg" alt="" />
        <div class="radio-section_p">
          <label class="radio-section_label" for="modern">تصميم حديث</label>
          <input
            class="radio-btn"
            type="radio"
            name="design"
            id="modern"
            [(ngModel)]="selectedDesign"
            value="modern"
          />
          <label class="radio-section_label" for="smart">تصميم حديث وذكي</label>
          <input
            type="radio"
            name="design"
            id="smart"
            [(ngModel)]="selectedDesign"
            value="smart"
          />
        </div>
      </h5>
    </div>

    <div class="icon-toolbar">
      <h5 class="grey-section_h5">
        معاينة وصف المنزل<img class="mx-1" src="eye.svg" alt="" />
      </h5>
      <p class="flatDesc-section_p">
        <span class="flatDesc-section_span">الموضوع:</span>
        فيلا قريبة من التجمع الخامس
      </p>
    </div>
    <textarea
      class="flat-Textarea"
      name="flat_desc"
      id=""
      [(ngModel)]="description"
    ></textarea>
  </div>
</div>

<div class="text-center">
  <button class="step-two-btn" (click)="navigateToStepSix()">
    الخطوة التالية
  </button>
</div>

<p class="step-two_p1">
  قم بالضغط على زر "بدء" للبدء في العملية، لادخال معلومات المنزل
</p>
<!-- </div> -->
<!-- </section> -->
<!-- </div> -->
